body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

nav .brand-logo {
    color: #424242;
}

nav ul a {
    color: #757575;
}

nav ul a:hover {
    color: #424242;
    background-color: transparent;
}

.btn-floating {
    background-color: #757575;
}

.btn-floating:hover {
    background-color: #424242;
}

footer {
    padding: 10px;
}

footer a:hover {
    text-decoration: underline;
}

.text-middle {
    vertical-align: middle;
}

.text-bottom {
    vertical-align: bottom;
}

.text-top {
    vertical-align: top;
}

.btn:focus, .btn-large:focus, .btn-small:focus,
.btn-floating:focus {
    background-color: #7c4dff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#about,
#contact {
    margin-top: 2em;
}

.social-icons > a > i.fab,
a > .social-icon {
    color: #757575;
}

.social-icons.em2 > a > i.fab,
.social-icon.em2 {
    font-size: 2em;
}

.social-icons.em1h > a > i.fab,
.social-icon.em1h {
    font-size: 1.5em;
}

.social-icons > a > i.fab:hover,
a > .social-icon:hover,
a.grey-link:hover {
    color: #424242 !important;
}

blockquote {
    border-color: #7c4dff;
}

.margin-top {
    margin-top: 1em;
}

.margin-top-2 {
    margin-top: 2em;
}

hr {
    border-top: 2px solid;
    border-color: #7c4dff;
    width: 20%;
}

.line {
    border-color: #bdbdbd;
    width: 15%;
}

.icon-border {
    border-style: solid;
    border-spacing: 3px;
    padding: 5px;
}

.border-orange {
    border-color: #ff9800;
}

.border-red {
    border-color: #f44336;
}

.border-blue {
    border-color: #2196f3;
}

.border-green {
    border-color: #4caf50;
}

/* label focus color */
.input-field input:focus + label,
.input-field textarea:focus + label {
    color: #7c4dff !important;
}
/* label underline focus color */
.input-field input:focus,
.input-field textarea:focus {
    border-bottom: 1px solid #7c4dff !important;
    box-shadow: 0 1px 0 0 #7c4dff !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #7c4dff;
}

.btn {
    background-color: #7c4dff;
}

.btn:hover {
    background-color: #b388ff;
}
